<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        Compte bancaire
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}

    {% endblock %}
</head>
<body>
<div class="my-container">
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        <div class="container mx-auto px-12">
            {% block body %}
                <h1>Compte bancaire</h1>
            {% endblock %}
        </div>
    </main>
    <footer class="footer footer-center bg-neutral text-neutral-content p-4">
        <aside>
            {% block footer %}
            <p>Copyright © Caensup - Comptes bancaires</p>
            {% endblock %}
        </aside>
    </footer>
</div>


</body>
</html>
