{% extends "base.html.twig" %}

{% block body %}
    {% if cb %}
        <h1>Compte bancaire</h1>
        <div>{{cb}}</div>
        {% if cb.operations %}
            <h2>Opérations</h2>
            <ul>
            {% for op in cb.operations %}
                <li>{{ op.intitule }}{{ op.montant }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <div role="alert" class="alert shadow-lg">
            <div>
                <h3 class="font-bold">Compte bancaire</h3>
                <div class="text-xs">Aucun compte créé !</div>
            </div>
            <a href="/newCompte" class="btn btn-sm">Créer un compte</a>
        </div>
    {% endif %}
{% endblock %}