{% extends "base.html.twig" %}
{% block body %}
<form method="POST" action="/newCompte">
    <label class="input input-bordered flex items-center gap-2">
        Name
        <input type="text" class="grow" name="titulaire" placeholder="Nom du titulaire" />
    </label>
    <div class="divider">
    </div>
    <button class="btn btn-success">Créer compte</button>
</form>
{% endblock %}