{% extends "base.html.twig" %}
{% block body %}
<a href="/newCompte" class="btn btn-neutral">
    Créer un compte
</a>
    {% if message %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endif %}
{% endblock %}