{% extends "base.html.twig" %}
{%  block body %}
    {{ parent() }}
    <div class="alert  shadow-lg">
        {{ message | raw }}
    </div>
{% endblock %}

{% block title %}
    {{ parent() }}
    : Message
{% endblock %}