{% extends "base.html.twig" %}
{% block body %}
    <h2>Utilisateurs</h2>
    <a href="/admin/add" class="btn btn-neutral">
        <i class="fa-solid fa-user-plus"></i>
        Ajouter un utilisateur...
    </a>
    <table class="table table-zebra">
        <thead>
            <tr>
                <td>Login</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
                <td>{{ u.login }}</td>
                <td class="flex gap-1">
                    <a href="/admin/update/{{ u.id }}" class="btn btn-xs btn-circle btn-outline">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <form action="/admin/delete" method="post">
                        <input type="hidden" name="toDelete" value="{{ u.id }}">
                        <button class="btn btn-xs bg-error btn-circle btn-outline">
                            <i class="fa-solid fa-close"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}